div#container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;

    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;

    background-color: #EDEDED;

    
}



/*---MAIN HEADING---*/
header#main-header
{
    vertical-align: middle;
    background-color: #212121;
    border: 3px solid black;
    border-bottom: 3px solid black;
    grid-column: 1 / span 3;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

}

header#main-header div
{
    border: 2px solid white;
    padding: 2%;
}

/*MAIN HEADING (Nested Grid)*/
div#header-title
{
    border: 1px solid red;

    color: white;
    text-decoration: underline;
}




div.header_img
{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div.header_img img
{
    width: 30%;
    border: 2px solid white;
    border-radius: 100%;
    background-color: white;

}

/*--NAVIGATION BAR-- */
/*nav#nav-bar 
{
    grid-column: 1 / span 3;
    border: 1px solid green;

    text-align: center;

    margin-top: 1%;
    margin-bottom: 0%;
    
    background-color: #212121;
}

nav#nav-bar div
{
    display: flex;
    justify-content: center;   /* Centers the li items properly */ /*
    padding:0%;
    margin: 0%;
}


nav#nav-bar button
{
    float: left;
    list-style-type: none;

    border: 1px solid red;

    margin-left: 10%;
    margin-right: 10%;
}

nav#nav-bar a
{
    font-style: italic;
    color: white;
}*/

#nav-bar {
    overflow: hidden;
    grid-column: 1 / span 5;
    border: 1px solid green;

    text-align: center;

    margin-top: 1%;
    margin-bottom: 0%;
    
    background-color: darkblue;
}

#nav-bar a {
    float: left;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #212121;
}

.dropdown_menu {
    display: none;
    position: absolute;
    background-color: #212121;
    box-shadow: 0rem .5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_menu a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_menu a:hover {
    background-color: white;
    color: #212121;
}

.dropdown:hover .dropdown_menu {
    display: block;
}

/*--ARTICLES SECTION--*/
div#articles-1
{

    border: 1px solid green;
    vertical-align: top;

    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div#articles-1 h3
{
    border: 1px solid red;
    vertical-align: top;

    margin: 0%;

}

div#articles-2
{
    border: 1px solid green;
    vertical-align: middle;

    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div#articles-2 h3
{
    border: 1px solid red;
    vertical-align: middle;

    margin: 0%;

}


div#articles-3
{
    border: 1px solid green;
    vertical-align: middle;

    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div#articles-3 h3
{
    border: 1px solid red;
    vertical-align: middle;

    margin: 0%; /* Get rid of default margin of h3*/
}

/*--FOOTER SECTION--*/
div#footer-section
{
    grid-column: 1 / span 3;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

}

/*Footer Contact Sub Section*/
footer#contact-footer
{
    vertical-align: middle;
    border: 1px solid green;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%
}

footer#contact-footer div
{
    vertical-align: middle;
    border: 1px solid red;

    display: inline-block;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;

}

/*Footer Info Sub Section*/
footer#info-footer
{
    vertical-align: middle;
    border: 1px solid green;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%


}

footer#info-footer div
{
    vertical-align: middle;
    border: 1px solid red;

    display: inline-block;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
}