#container
{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    text-align: center;

    box-sizing: border-box;
    
}

/*--HEADING--*/
#header-container
{
    border: 1px solid black;
    height: 13vh;

    box-sizing: border-box;
    overflow-x: hidden;
}

/*--NAVIGATION--*/
#nav-home-container
{
    border: 1px solid black;
    height: 13vh;

    box-sizing: border-box;

    overflow-x: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

    background-color: #808080;
}   

#nav-home-container img
{
    border: 5px solid #000000;
    
    border-radius: 90%;
}

/*--PLAYER TABLE--*/
#players-container
{
    
    border: 1px solid black;
    height: 80vh;

    box-sizing: border-box;

    overflow: hidden;
    padding-left: 10%;
    padding-right: 10%;
}

#table-heading
{
    text-align: left;
    margin: 0%;
    margin-top: 5%;
}

#players-container table
{
    width: 80%;

}

#players-container table, th, td
{
    border: 1px solid;
    border-collapse: collapse;

    text-align: left;

    overflow: hidden;

    box-sizing: border-box;
}

#players-container th, td
{
    width: 10%;
    padding: 1%;

    
}


/*--TEAM SCHEDULE--*/
#team-sched-container
{
    border: 1px solid black;
    height: 80vh;
    overflow-y: scroll;

    padding-left: 10%;
    padding-right: 10%;
    

    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

#schedule-heading
{   
    height: 10%;
    box-sizing: border-box;
    border: 1px solid purple;

}

/*--NESTED CONTAINER FOR GAMES--*/
#games-container
{
    height: 90%;
    width: 90%;

    box-sizing: border-box;
    border: 1px solid purple;
    float: left;

    

}

/*--NESTED CONTAINER FOR INPUTS/CHECKBOXS--*/
#notify-container
{
    height: 90%;
    width: 10%;
    
    box-sizing: border-box;
    border: 1px solid purple;
    float: left;

}

#game
{
    border: 1px solid black;
    float: left;
    clear: left;
    height: 30%;
    
    padding-top: 0%;
    padding-top: 0%;
    padding-left: 20%;
    padding-right: 20%;

    overflow-y: hidden;
}

#game p
{
    margin: 0%;
}

#game h4
{
    margin-top: 5%;
    margin-bottom: 5%;
}


#checkbox
{
    border: 1px solid black;
    height: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    
    overflow-x: hidden;
}


/*Footer*/
#footer-section {
    border: .2rem dashed darkblue;
    background-color: darkblue;
    grid-column: 1 / span 2;
}

[id$="footer"] {
    display: inline-block;
}

[id^="footer"] {
    display: inline-black;
    background-color: #212121;
    color: white;
    padding: 0.5rem;
    border: 0.1rem solid white;
}