div#container
{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto;
    text-align: center;

    border: 5px solid black;

    
    padding: 1%;
}



/*---MAIN HEADING---*/
header#main-header
{
    vertical-align: middle;
    border: 1px solid green;

    grid-column: 1 / span 3;
    
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;

}

/*MAIN HEADING (Nested Grid)*/
header#main-header div
{
    border: 1px solid green;

    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 5%;
}

header#main-header h1, p
{
    border: 1px solid red;
}

/*--NAVIGATION BAR-- */
nav#nav-bar 
{
    grid-column: 1 / span 3;
    border: 1px solid green;

    text-align: center;

    margin-top: 1%;
    margin-bottom: 0%;
    margin-left: .5%;
    margin-right: .5%;
    
}

nav#nav-bar ul
{
    display: flex;
    justify-content: center;   /* Centers the li items properly */
    padding:0%;
    margin: 0%;
}


nav#nav-bar li
{
    list-style-type: none;

    border: 1px solid red;

    margin-left: 10%;
    margin-right: 10%;
}


/*--ARTICLES SECTION--*/
div#articles-1
{

    border: 1px solid green;
    vertical-align: top;

    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div#articles-1 h3
{
    border: 1px solid red;
    vertical-align: top;

    margin: 0%;

}

div#articles-2
{
    border: 1px solid green;
    vertical-align: middle;

    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div#articles-2 h3
{
    border: 1px solid red;
    vertical-align: middle;

    margin: 0%;

}


div#articles-3
{
    border: 1px solid green;
    vertical-align: middle;

    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div#articles-3 h3
{
    border: 1px solid red;
    vertical-align: middle;

    margin: 0%; /* Get rid of default margin of h3*/
}

/*--FOOTER SECTION--*/
div#footer-section
{
    grid-column: 1 / span 3;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;

}

/*Footer Contact Sub Section*/
footer#contact-footer
{
    vertical-align: middle;
    border: 1px solid green;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%
}

footer#contact-footer div
{
    vertical-align: middle;
    border: 1px solid red;

    display: inline-block;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;

}

/*Footer Info Sub Section*/
footer#info-footer
{
    vertical-align: middle;
    border: 1px solid green;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%


}

footer#info-footer div
{
    vertical-align: middle;
    border: 1px solid red;

    display: inline-block;

    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
}