#container
{

    text-align: center;
    border: 5px solid black;
    background-color: darkblue;
}

header
{

    border-top: 10px solid black;
    border-right: 10px solid darkgray;
    border-left: 10px solid black;
    border-bottom: 10px solid darkgray;
    background-image: url('../images/header_stadiumv2.png');

    font-size: xx-large;

    height: 10vh;
}

h1
{
    
    color: white;
    padding: 0%;
    margin: 0%;
    text-decoration: underline;
}


.priv_section
{
    padding-left: 10%;
    border-top: 5px solid black;
    border-right: 5px solid darkgray;
    border-left: 5px solid black;
    border-bottom: 5px solid darkgray;
    text-align: left;
    
    background-color: lightgrey;
    height: 30vh;

    margin-left: 1%;
    margin-right: 1%;
}

.priv_section h2
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.text
{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: left;
}

.section_break
{
    border: 1px solid black;
    width: 100%;
    height: 2.5vh;
    background-color: darkblue;
}