div#container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;

    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;

    background-color: #EDEDED;

    
}



/*---MAIN HEADING---*/

.account {
    float: right;
    background-color: white;
    color: black;
    text-align: right;
    grid-column: 1 / span 3;
    margin: 0.2rem;
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(darkred, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1rem black;
    background-color: rgba(36, 145, 203, 0.5);
}

#username
{
    display: inline;

    font-family: 'Courier New', Courier, monospace;
    
}

#email
{
    display: inline;
    
    font-family: 'Courier New', Courier, monospace;
}

header#main-header
{
    background-image: url('../images/header_stadiumv2.png');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-color: #212121;
    border: 3px solid black;
    border-bottom: 3px solid black;
    grid-column: 1 / span 3;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;

}

header#main-header div
{
    border: 2px solid white;
    padding: 2%;
}

/*MAIN HEADING (Nested Grid)*/
div#header-title
{
    color: white;
    text-decoration: underline;
    grid-column: 1 / span 5;
    font-weight: bolder;
    text-align: left;
}

div#header-title p {
    font-size: 2rem;
    -webkit-text-stroke: 0.08rem black;
    background-color: rgba(36, 145, 203, 0.5);
}

.navbar {
    grid-column: 1 / span 5;
    overflow: hidden;
    background-color: darkblue;
}

.navbar > div {
    float: left;
    font-size: 2rem;
    width: 29%;
    color: white;
    text-align: center;
}

.navbar a {
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 2rem;  
    border: none;
    outline: none;
    color: white;
    background-color: darkblue;
    margin: 0;
}

.navbar div:hover, .dropdown:hover .dropbtn {
    background-color:  #212121;
    color: white;
}

.dropdown_menu {
    display: none;
    position: absolute;
    background-color: #212121;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0.1,0.5);
    z-index: 1;
}

.dropdown_menu a {
    float: none;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown_menu a:hover {
    background-color: white;
    color: #212121;
}

.dropdown:hover .dropdown_menu {
    display: block;
}

/*Content*/

#clock {
    font-size: 2rem;
    color: red;
    text-shadow: 1px 1px 0 black;
}

h2 {
    font-weight: bolder;
    text-shadow: 1px 1px darkblue;
    font-size: 1.5rem;
}

#article_heading {
    color: white;
}

.games_container {
    grid-column: 1 / span 2;
    border: 0.2rem dashed #212121;

    height: 80vh;
    overflow: hidden;
}

.articles_container {
    grid-column: 3 / span 1;
    border: 0.2rem dashed white;
    background-color: #212121;
    /* Added verticall scroll bar to articles*/
    height: 80vh;
    overflow: auto;
}

.content_card {
    display: inline-block;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 1rem;
    background-color: darkblue;
    border-top: .4rem solid grey;
    border-right: .4rem solid #212121;
    border-left: .4rem solid grey;
    border-bottom: .4rem solid #212121;
    color: white;
    text-shadow: 3px 3px 0 black;

    width: 25%;
}

.article {
    background-color: black;
    width: 70%;
    border-right: .4rem solid black;
    border-bottom: .4rem solid black;
    text-shadow: 3px 3px 0 darkblue;

    overflow: hidden;
}
    

.article img, video
{
    
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    margin-top: 0;
    width: 80%;
    height: 20vh;

}


/*Footer*/
#footer-section {
    border: .2rem dashed darkblue;
    background-color: darkblue;
    grid-column: 1 / span 3;
}

[id$="footer"] {
    display: inline-block;
}

[id^="footer"] {
    display: inline-black;
    background-color: #212121;
    color: white;
    padding: 0.5rem;
    border: 0.1rem solid white;
}

footer a:link{
    color: red;
}

footer a:visited{
    color: white;
}

footer a:hover{
    color: darkblue;
}

footer a:active{
    color: aqua;    
}